.cases {
    margin-top: 10px;
}

.nav-pills{
    margin-top: 10px;
}

.empty{
    margin-top: 50px;
}

.ui-view-container {
    position: relative;
}

.content-animation{
    width: 100%;
}

.content-animation.ng-enter{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.content-animation.ng-leave{
    position: absolute;
    top: 0;
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
}

.sidebar-animation{
    width: 100%;
}

.sidebar-animation.ng-enter{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.sidebar-animation.ng-leave{
    position: absolute;
    top: 0;
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
}